{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier le collaborateur{% endblock %}

{% block body %}
  <div class="container-fluid p-5">
  <h1>Modifier le collaborateur</h1>
  <div class="mb-3">
    <a href="{{ path('worker_index') }}" class="btn btn-secondary mr-5">Retour à la liste</a>
  </div>
   <div class="mt-5">
        {{ form_start(form) }}
          {{ form_row(form.firstname) }}
          {{ form_row(form.lastname) }}
          {{ form_row(form.dateOfBirth) }}
          {{ form_row(form.email) }}
          {{ form_row(form.phone) }}
          {{ form_row(form.address) }}
          {{ form_row(form.cityCode) }}
          {{ form_row(form.town) }}
          {{ form_row(form.job) }}
         {% if form_errors(form.imageFile) %}
                <p id="displayVich" style="padding-top: 68px;"></p>
            {% else %}
                <p id="displayVich"></p>
            {% endif %}           
          {{ form_row(form.imageFile) }}
          <button class="btn btn-lg btn-primary mt-2">Mettre à jour</button>
        {{ form_end(form) }}
   </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('vich') }}
{% endblock %}
