{% extends 'layout.html.twig' %}

{% block title %}Member index{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>DateOfBirth</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Town</th>
                <th>CityCode</th>
                <th>ImageName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.firstname }}</td>
                <td>{{ member.lastname }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.dateOfBirth ? member.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ member.phone }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.town }}</td>
                <td>{{ member.cityCode }}</td>
                <td>{{ member.imageName }}</td>
                <td>
                    <a href="{{ path('member_show', {'id': member.id}) }}">show</a>
                    <a href="{{ path('member_edit', {'id': member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('member_new') }}">Create new</a>
{% endblock %}
