{% extends 'layout.html.twig' %}

{% block title %}Ajouter un adhérent{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
    <h1 class="pb-3">Créer ma fiche adhérent</h1>
    <div class="col-lg-8 pt-3 pb-3">
     {{ form_start(form) }}
          {{ form_row(form.firstname) }}
          {{ form_row(form.lastname) }}
          {{ form_row(form.email) }}
          {{ form_row(form.dateOfBirth) }}
          {{ form_row(form.phone) }}
          {{ form_row(form.address) }}
          {{ form_row(form.cityCode) }}
          {{ form_row(form.town) }}
          <p id="displayVich"></p>
          {{ form_row(form.imageFile) }}
          {{ form_row(form.hasAgreedPhoto) }}
          <button class="btn btn-lg btn-primary mt-2">Ajouter</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('vich') }}
{% endblock %}