{% extends 'layoutAdmin.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1>Liste des événements</h1>
    <a href="{{ path('booking_new') }}" class ="btn btn-primary mb-4">Ajouter<i class="fas fa-plus ml-2"></i></a>
       <table class="table table-striped mt-5">
        <thead class="thead-dark">
            <tr>
                <th>Début</th>
                <th>Fin</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.beginAt ? booking.beginAt|date('d/m/Y H:i') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('d/m/Y H:i') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td class="d-flex pt-3">
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="btn btn-success mr-4">Éditer<i
                                class="fas fa-pen ml-1"></i></a>
                    <div>
                        {{ include('admin/booking/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun événement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
