{% extends 'layout.html.twig' %}

{% block title %}Location index{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <h1>Location index</h1>
    <a href="{{ path('location_new') }}" class ="btn btn-primary mb-4">Ajouter<i class="fas fa-plus ml-2"></i></a>
       <table class="table table-striped mt-5">
        <thead class="thead-dark">
            <tr>
                <th>Lieu</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.place }}</td>
                <td>{{ location.address }}</td>
                <td>{{ location.zipcode }}</td>
                <td>{{ location.city }}</td>
                <td class="d-flex pt-3">
                    <a href="{{ path('location_edit', {'id': location.id}) }}" class="btn btn-success mr-4">Éditer<i
                                class="fas fa-pen ml-1"></i></a>
                    <div>
                          {{ include('admin/location/_delete_form.html.twig') }}
                    </di>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun lieu trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
