<nav>
    <div class="firstPart">
        <ul>
            {% if app.user %}
                <li>
                    <i class="fa fa-user fa-2x fa-fw text-white"></i>
                    <a href="" class="text-white">{{ app.user.firstname }}
                        {{ app.user.lastname }}</a>
                </li>
                <li>
                    <a href="{{ path('app_account', {'id': app.user.id}) }}">Mon compte</a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
                <li>
                    <a class="badge badge-danger text-white">Statut pas à jour</a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_login') }}">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                    </i>Se connecter</a>
            </li>
            <li>
                <a href="{{ path('app_register') }}">
                    <i class="fa fa-user text-white mr-2"></i>Créer un compte</a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="admin">
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    <span class="nav-label">admin</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('user_index' ) }}">Utilisateurs</a</li>
                    </ul>
                </li>
            </ul>
        {% endif %}
    </div>
    <div class="secondPart">
        {% if app.user %}
            <ul>
                <li><a href="#">Fiche adhérent</a></li>
                <li><a href="#">Mes créneaux</a></li>
                <li><a href="#">Mes documents</a></li>
                <li><a href="#">Mes messages</a></li>
                <li><a href="#">Planning du club</a></li>
                <li><a href="#">Trombinoscope</a></li>
            </ul>
        {% endif %}
    </div>
</nav>
