<div class="sidemenu sticky-top">
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('admin_user' ) }}">Rôle admin</a>
            </li>
    {% endif %}
            <li>
                <a href="{{ path('admin_members' ) }}">Adhérents</a>
            </li>
            <li>
                <a href="{{ path('worker_index' ) }}">Collaborateurs</a>
            </li>
            <li>
                <a href="{{ path('category_index' ) }}">Catégories</a>
            </li>
            <li>
                <a href="{{ path('location_index' ) }}">Lieux</a>
            </li>
            <li>
                <a href="{{ path('booking_index') }}">Événements</a>
            </li>
            <li>
                <a href="{{ path('report_index') }}">Comptes rendus</a>
            </li>
            <li>
                <a href="{{ path('member_index') }}">Retour au site</a>
            </li>
        </ul>
</div>
