{% extends 'layout.html.twig' %}

{% block title %}New OnlineForm
{% endblock %}

{% block body %}
    <div class="col-6 m-5">
        <h1>Créer l'attestation parentale</h1>

        {{ form_start(form) }}
        {{ form_row(form.parentName) }}
        {{ form_row(form.date) }}
        {{ form_row(form.hasAgreedPhoto) }}
        {{ form_row(form.hasAgreedTransportation) }}
        {{ form_row(form.member) }}
        <p id="displayVich">
        {{ form_row(form.imageFile) }}
        <button class="btn btn-success">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}

        <a href="{{ path('app_document') }}" class="btn btn-primary">Retour à mes documents</a>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('vich') }}
{% endblock %}
