{% extends 'layout.html.twig' %}

{% block title %}OnlineForm{% endblock %}

{% block body %}
    <h1>OnlineForm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ online_form.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ online_form.date ? online_form.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HasAgreedPhoto</th>
                <td>{{ online_form.hasAgreedPhoto ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>HasAgreedTransportation</th>
                <td>{{ online_form.hasAgreedTransportation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ online_form.imageName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('online_form_index') }}">back to list</a>

    <a href="{{ path('online_form_edit', {'id': online_form.id}) }}">edit</a>

    {{ include('online_form/_delete_form.html.twig') }}
{% endblock %}
