{% extends 'layout.html.twig' %}

{% block title %}Mes documents
{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Mes documents</h1>
        <div class="row">
            <div class="col-4">
                    {{ include('document/_form.html.twig') }}
            </div>   
        </div>

        {% for member in members %}
            {% if is_granted('SHOW', member) %}
                <div class="row">
                    <div class="col-6">
                        <h2 class="mt-5">{{ member.fullname }}</h2>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Documents</th>
                                    <th colspan="2">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents %}
                                    {% if is_granted('SHOW', document) and member.id == document.member.id %}
                                        <tr>
                                            <td>Attestation médicale</td>
                                            <td></td>
                                            <td>
                                                {% if is_granted('DELETE', document) %}
                                                    {{ include('document/_delete_form.html.twig') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                
                                {% for online_form in online_forms %}
                                    {% if is_granted('SHOW', online_form) and member.id == online_form.member.id and member.age < 18%}
                                            <tr>
                                                <td>Autorisation parentale</td>
                                                <td>
                                                    <a href="{{ path('online_form_pdf', {'id': online_form.id}) }}" class="btn pdf">
                                                        PDF<i class="far fa-file-pdf ml-2"></i></a>
                                                </td>
                                                <td>
                                                    {% if is_granted('DELETE', online_form) %}
                                                        {{ include('online_form/_delete_form.html.twig') }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% elseif is_granted('SHOW', online_form) and member.id == online_form.member.id and member.age > 18 %}
                                            <tr>
                                                <td>Charte de bonne conduite</td>
                                                <td>
                                                    <a href="{{ path('conduct_form_pdf', {'id': online_form.id}) }}" class="btn pdf">
                                                        PDF<i class="far fa-file-pdf ml-2"></i></a>
                                                </td>
                                                <td>
                                                    {% if is_granted('DELETE', online_form) %}
                                                        {{ include('online_form/_delete_form.html.twig') }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6">
                        <h2 class="mt-5">Documents à remplir en ligne</h2>
                        <table class="table">
                            <tbody>
                                <tr>
                                    {% if member.age < 18 %}
                                        <td>
                                            <a href="{{ path('online_form_new') }}" class="btn btn-primary">L'autorisation parentale
                                                <i class="far fa-edit ml-2"></i></a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ path('online_form_conduct') }}" class="btn btn-success">Charte de bonne conduite
                                                <i class="far fa-edit ml-2"></i></a>
                                            </td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            {% endif %}
        {% endfor %}

        <h2 class="my-5">Consulter les documents du club</h2>
        <div class="row">
            {% for report in reports %}
                <div class="col-2">
                    <a href="{{ path('document_report_show', {'id': report.id}) }}" class="btn pdf my-1">
                        {{ report.title }}<i class="far fa-file-pdf ml-2"></i>
                    </a>               
                </div>  
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vich') }}
{% endblock %}
