{% extends 'layout.html.twig' %}

{% block title %}Mes documents
{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Mes documents</h1>
        <div class="row">
<div class="col-4">
        {{ include('document/_form.html.twig') }}

</div>
<div class="col-6 offset-2">
        {{ include('document/_report.html.twig') }}

</div>
        </div>

        {% for member in members %}
            {% if is_granted('SHOW', member) %}
                <div class="row">
                    <div class="col-6">
                        <h2 class="mt-5">{{ member.fullname }}</h2>
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Documents</th>
                                    <th colspan="2">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents %}
                                    {% if is_granted('SHOW', document) and member.id == document.member.id %}
                                        <tr>
                                            <td>Attestation médicale</td>
                                            <td></td>
                                            <td>
                                                {% if is_granted('DELETE', document) %}
                                                    {{ include('document/_delete_form.html.twig') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                
                                {% for online_form in online_forms %}
                                    {% if is_granted('SHOW', online_form) and member.id == online_form.member.id and member.age < 18%}
                                            <tr>
                                                <td>Autorisation parentale {{online_form.member.fullname}}</td>
                                                <td>
                                                    <a href="{{ path('online_form_pdf', {'id': online_form.id}) }}" class="btn pdf">
                                                        PDF<i class="far fa-file-pdf ml-2"></i></a>
                                                </td>
                                                <td>
                                                    {% if is_granted('DELETE', online_form) %}
                                                        {{ include('online_form/_delete_form.html.twig') }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% elseif is_granted('SHOW', online_form) and member.id == online_form.member.id and member.age > 18 %}
                                            <tr>
                                                <td>Droit à l'image {{online_form.member.fullname}}</td>
                                                <td>
                                                    <a href="{{ path('image_form_pdf', {'id': online_form.id}) }}" class="btn pdf">
                                                        PDF<i class="far fa-file-pdf ml-2"></i></a>
                                                </td>
                                                <td>
                                                    {% if is_granted('DELETE', online_form) %}
                                                        {{ include('online_form/_delete_form.html.twig') }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                    {% endif %}
                                {% endfor %}

                                {% for conduct in conducts %}
                                    {% if is_granted('SHOW', conduct) and member.id == conduct.member.id %}
                                        <tr>
                                            <td>Charte de bonne conduite</td>
                                                <td>
                                                    <a href="{{ path('conduct_show', {'id': conduct.id}) }}" class="btn pdf">
                                                        PDF<i class="far fa-file-pdf ml-2"></i></a>
                                                </td>
                                            <td>
                                                {% if is_granted('DELETE', conduct) %}
                                                    {{ include('conduct/_delete_form.html.twig') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="col-6">
                        <h2 class="mt-5">Documents à remplir en ligne</h2>
                        <table class="table">
                            <tbody>
                                <tr>
                                    {% if member.age < 18 %}
                                        <td>
                                            <a href="{{ path('online_form_new') }}" class="btn btn-primary">
                                                <i class="far fa-edit mr-2"></i>L'autorisation parentale</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ path('online_form_image') }}" class="btn btn-success">
                                                <i class="far fa-edit mr-2"></i>Droit à l'image</a>
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                                <td>
                                <a href="{{ path('conduct_new') }}" class="btn btn-success">Charte de bonne conduite
                                    <i class="far fa-edit ml-2"></i></a>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vich') }}
{% endblock %}
