{% extends 'layout.html.twig' %}

{% block title %}Mes documents
{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <h1>Mes documents</h1>
        <div class="mt-5 col-6">
            {{ form_start(form) }}
            {{ form_row(form.member) }}
            <p id="displayVich"></p>
            {{ form_row(form.imageFile) }}
            <button class="btn btn-lg btn-primary mt-2">Envoyer</button>
            {{ form_end(form) }}
        </div>

        <div class="col-6">
            {% for member in members %}
                {% if is_granted('SHOW', member) %}
                    
                <h2 class="mt-5">{{ member.fullname }}</h2>
                   
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Documents</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}
                                {% if is_granted('SHOW', document) and member.id == document.member.id %}
                                    <tr>
                                        <td>{{ document.imageName }}</td>
                                        <td>
                                        {% if is_granted('DELETE', document) %}
                                            {{ include('document/_delete_form.html.twig') }}
                                        {% endif %}
                                        </td>
                                    </tr>    
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('vich') }}
{% endblock %}
